<section id="about">
    <article class="article">
        <header><h2>Оборудование</h2></header>
        <div id="equipment">
            <a href="img/content/about/studio-equipment_1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-equipment_1.jpg"></div>
            </a>
            <a href="img/content/about/studio-equipment_2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-equipment_2.jpg"></div>
            </a>
            <a href="img/content/about/studio-equipment_3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-equipment_3.jpg"></div>
            </a>
            <a href="img/content/about/studio-equipment_4.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-equipment_4.jpg"></div>
            </a>
            <a href="img/content/about/studio-equipment_5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-equipment_5.jpg"></div>
            </a>
            <a href="img/content/about/studio-equipment_6.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-equipment_6.jpg"></div>
            </a>
        </div>
        <p>
            Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве
            текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает,
            как много веб-страниц всё ещё дожидаются своего настоящего рождения.
        </p>
        <br>
        Также все другие известные генераторы:
        <ul>
            <li>Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..",</li>
            <li>В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги</li>
            <li>Его корни уходят в один фрагмент классической латыни 45 года н.э.</li>
            <li>го популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum </li>
        </ul>
    </article>
    <article class="article">
        <header><h2>Помещение</h2></header>
        <div id="room">
            <a href="img/content/about/studio-room_1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-room_1.jpg"></div>
            </a>
            <a href="img/content/about/studio-room_2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-room_2.jpg"></div>
            </a>
            <a href="img/content/about/studio-room_3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-room_3.jpg"></div>
            </a>
            <a href="img/content/about/studio-room_4.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-room_4.jpg"></div>
            </a>
        </div>
        <p>
            Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве
            текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает,
            как много веб-страниц всё ещё дожидаются своего настоящего рождения.
        </p>
    </article>
    <article class="article">
        <header><h2>Люди</h2></header>
        <div id="people">
            <a href="img/content/about/studio-people_1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-people_1.jpg"></div>
            </a>
            <a href="img/content/about/studio-people_2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-people_2.jpg"></div>
            </a>
            <a href="img/content/about/studio-people_3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-people_3.jpg"></div>
            </a>
            <a href="img/content/about/studio-people_4.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-people_4.jpg"></div>
            </a>
            <a href="img/content/about/studio-people_5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="img/content/about/studio-people_5.jpg"></div>
            </a>
        </div>
        <p>
            Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве
            текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает,
            как много веб-страниц всё ещё дожидаются своего настоящего рождения.
        </p>
    </article>
</section>