<section class="content-box">
    <article class="article">
        <header><h2>Сообщения для автоответчика</h2></header>
        <div id="ubaplayer"></div>
        <p>
            Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы
            1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный
            H. Rackham, 1914 год.
        </p>
        <ul class="ubaplayer-controls">
            <li><a href="data/media/bromgeksin.mp3" class="ubaplayer-button">Ролик 1 - Описание 1</a></li>
            <li><a href="data/media/grabli_buglakov.mp3" class="ubaplayer-button">Ролик 2 - Описание 2</a></li>
            <li><a href="data/media/hankipanki.mp3" class="ubaplayer-button">Ролик 3 - Описание 3</a></li>
            <li><a href="data/media/kentatsu.mp3" class="ubaplayer-button">Ролик 4 - Описание 4</a></li>
            <li><a href="data/media/porosyatko.mp3" class="ubaplayer-button">Ролик 5 - Описание 5</a></li>
            <li><a href="data/media/semechki_vinnipux.mp3" class="ubaplayer-button">Ролик 6 - Описание 6</a></li>
            <li><a href="data/media/zlatogor.mp3" class="ubaplayer-button">Ролик 7 - Описание 7</a></li>

        </ul>
    </article>
</section>