<a class="logo" href="/">
    <span>ВостокЗапись - студия звукозаписи</span>
    <img alt="VostokRecords" src="img/logo.png">
</a>
<ul class="social">
    <li><a title="Вконтакте" class="icon-rus-vk-02" href="#"></a></li>
    <li><a title="Twitter" class="icon-twitter-1" href="#"></a></li>
    <li><a title="Youtube" class="icon-youtube" href="#"></a></li>
</ul>
<ul class="tiny_nav">
    <li><a href="about.html">О Нас</a></li>
    <li><a href="contacts.html">Контакты</a></li>
</ul>
<h1 class="name_page">Студия <span>Звукозаписи</span></h1>