<section id="main">
    <ul class="main_menu">
        <li>
            <a href="audioclips.html">
                <span class="icons cole-townsend-chat"></span>
                <h2 class="title">Аудиоролики</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li>
            <a href="productions.html">
                <span class="icons christina-pedersen-cassette"></span>
                <h2 class="title">Продакшн</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li>
            <a href="instrumentals.html">
                <span class="icons johan-manuel-hernandez-record-player"></span>
                <h2 class="title">Минусовки</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li>
            <a href="speakers.html">
                <span class="icons anton-boshoff-headset"></span>
                <h2 class="title">Дикторы</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li>
            <a href="voice-video.html">
                <span class="icons joshua-barker-landscape"></span>
                <h2 class="title">Озвучка видео</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li>
            <a href="answerphone.html">
                <span class="icons christina-pedersen-walkman"></span>
                <h2 class="title">Автоответчик</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
    </ul>
</section>