<div id="main">
    <ul class="main_menu">
        <li class="clearfix">
            <a href="#audioclips">
                <span class="icons cole-townsend-chat"></span>
                <h2 class="title">Аудиоролики</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li class="clearfix">
            <a href="#production">
                <span class="icons christina-pedersen-cassette"></span>
                <h2 class="title">Продакшн</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li class="clearfix">
            <a href="#instrumentals">
                <span class="icons johan-manuel-hernandez-record-player"></span>
                <h2 class="title">Минусовки</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li class="clearfix">
            <a href="#speakers">
                <span class="icons anton-boshoff-headset"></span>
                <h2 class="title">Дикторы</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li class="clearfix">
            <a href="#voice-video">
                <span class="icons joshua-barker-landscape"></span>
                <h2 class="title">Озвучка видео</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
        <li class="clearfix">
            <a href="#answerphone">
                <span class="icons christina-pedersen-walkman"></span>
                <h2 class="title">Автоответчик</h2>
                <p>
                    Lorem Ipsum используют потому, что тот обеспечивает
                    более или менее стандартное заполнение шаблона.
                </p>
            </a>
        </li>
    </ul>
</div>