<ul class="nav">
    <li><a class="nav-audioClips" href="#audioClips">АудиоРолики</a></li>
    <li><a class="nav-production" href="#production">Продакшн</a></li>
    <li><a class="nav-instrumental" href="#instrumental">Минусовки</a></li>
    <li><a class="nav-answerPhone" href="#answerPhone">Автоответчик</a></li>
    <li><a class="nav-voiceVideo" href="#voiceVideo">ОзвучкаВидео</a></li>
    <li><a class="nav-speaker" href="#speaker">Дикторы</a></li>
</ul>