<div class="nav_block">
    <div class="icon-menu"></div>
    <ul class="nav">
        <li><a href="#audioclips">АудиоРолики</a></li>
        <li><a href="#productions">Продакшн</a></li>
        <li><a href="#instrumentals">Минусовки</a></li>
        <li><a href="#answerphone">Автоответчик</a></li>
        <li><a href="#voice-video">ОзвучкаВидео</a></li>
        <li><a href="#speakers">Дикторы</a></li>
    </ul>
</div>