<section class="content-box">
    <p>
        Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы
        1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный
        H. Rackham, 1914 год.
    </p>
    <article class="article">
        <header><h2>Голоса для озвучки</h2></header>
        <p>
            Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве
            текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает,
            как много веб-страниц всё ещё дожидаются своего настоящего рождения.
        </p>
        <div id="ubaplayer"></div>
        <ul class="ubaplayer-controls">
            <li><a href="data/media/bromgeksin.mp3" class="ubaplayer-button">Ролик 1 - Описание 1</a></li>
            <li><a href="data/media/grabli_buglakov.mp3" class="ubaplayer-button">Ролик 2 - Описание 2</a></li>
            <li><a href="data/media/hankipanki.mp3" class="ubaplayer-button">Ролик 3 - Описание 3</a></li>
            <li><a href="data/media/kentatsu.mp3" class="ubaplayer-button">Ролик 4 - Описание 4</a></li>
            <li><a href="data/media/porosyatko.mp3" class="ubaplayer-button">Ролик 5 - Описание 5</a></li>

        </ul>
    </article>
    <article class="article">
        <header><h2>Примеры озвученных видео</h2></header>
        <p>
            Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы
            1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный
            H. Rackham, 1914 год.
        </p>
        <div class="video">
            <iframe src="http://player.vimeo.com/video/38839299"></iframe>
        </div>
    </article>
</section>